{% extends 'base.html.twig' %}
{% block title %}Hello City !{% endblock %}
{% block body %}
	<img src="{{ asset('/images/flag.png') }}" alt="Tunis Flag"  width="200" class="h-32 mt-12 rounded shadow-md">
	<h1 class="mt-5 text-3xl sm:text-5xl font-semibbold text-indigo-600">
		Hello from Tunis!
    </h1>

	<p class="text-lg text-gray-600">It's currently {{'now'|date('h:i A' )}}.
	</p>

{% endblock %}